body {background-image: url('/static/img/home.jpg');
		background-size:cover;
		background-color: #c8c9c3;
		background-repeat: no-repeat
		}

.container{
        max-width: 600px;
    }
	
	
a:link {
color: #999999;
}
a:visited {
color: #999999;
}
a:hover {
color: #999999;
}

.text-primary {
	color: white;
}

.my-style {
	 background: rgba(0,0,0,0.6);
	 padding: 20px;
	 border-radius: 10px;
}

.verticalform {
	color: white;
}