{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>About the site</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Semper auctor neque vitae tempus quam pellentesque. Morbi leo urna molestie at. Placerat orci nulla pellentesque dignissim enim sit amet venenatis. Nunc lobortis mattis aliquam faucibus. Euismod quis viverra nibh cras pulvinar mattis nunc. Sem viverra aliquet eget sit amet tellus cras. Nunc pulvinar sapien
	</p>

</div>
{% endblock %}