{% extends "base.html" %}

{% block title %}Home || my site{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Veikia</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Semper auctor neque vitae tempus quam pellentesque. Morbi leo urna molestie at. Placerat orci nulla pellentesque dignissim enim sit amet venenatis. Nunc lobortis mattis aliquam faucibus. Euismod quis viverra nibh cras pulvinar mattis nunc. Sem viverra aliquet eget sit amet tellus cras. Nunc pulvinar sapien et ligula ullamcorper malesuada proin libero nunc. Sed pulvinar proin gravida hendrerit. Malesuada pellentesque elit eget gravida cum sociis. Arcu non sodales neque sodales ut etiam sit amet nisl. Vehicula ipsum a arcu cursus vitae congue. Lectus urna duis convallis convallis tellus id interdum velit.
	</p>
</div>
{% endblock %}