{% extends "base.html" %}

{% block title %}Wine label generator{% endblock %}

{% block page_content %}
<div class="my-style" align="center">
	<h2 class="text-primary">Wine brewing tools</h2>
    <h3><a href="/label">Wine label generator</a></h3>
	<p class="text-primary">Wine label generator is a python based web app that allows users to create personal wine labels. Labels are generated in *.jpg files and can be printed on a label paper-sticker.</p>
	<h3><a href="/predict">Wine quality predictor</a></h3>
	<p class="text-primary">Machine learning based wine quality predictor. </p>
</div>
{% endblock %}