{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block scripts %}
  {{ super() }}
  {{ colorpicker.loader() }}
  {{ colorpicker.picker(ids=['.color'], showAlpha='false') }}
{% endblock %}

{% block title %}Label generator{% endblock %}

{% block page_content %}
<div class="d-flex justify-content-center">
<!--     <h1 align=middle>Label generator</h1> -->
	<div style="background: rgba(0,0,0,0.5); padding: 20px;">
	{% if img2 != None %}
	<p align=center>
	<img src="data:image/JPEG;base64,{{ img2 }}" style="width:248px; height:auto;">
	</p>
	{% endif %}
		<form class="verticalform" method="post">
			<label for="rgb">Background color</label><br>
			<input name="rgb" class='color' value='{{ color_var }}'/>
			<p></p>
			{{ wtf.quick_form(form) }}
		</form>
	</div>
</div>
{% endblock %}