{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block scripts %}
  {{ super() }}
  {{ colorpicker.loader() }}
  {{ colorpicker.picker(ids=['.color'], showAlpha='false') }}
  {{ colorpicker.picker(ids=['.color2'], showAlpha='false') }}
{% endblock %}

{% block title %}Label generator{% endblock %}

{% block page_content %}
<div>
<!--     <h1 align=middle>Label generator</h1> -->
	<div class="my-style">
	{% if img2 != None %}
	<p align=center>
	<img src="data:image/JPEG;base64,{{ img2 }}" style="width:248px; height:auto;">
	</p>
	{% endif %}
		<form class="verticalform" method="post get">
			<label for="rgb">Background color</label><br>
			<input name="rgb" class='color' value='{{ color_var }}'/><br>
			<label for="rgb2">Text color</label><br>
			<input name="rgb2" class='color2' value='{{ color_var2 }}'/>
			<p></p>
			{{ wtf.quick_form(form) }}
		</form>
	</div>
</div>
{% endblock %}